/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position:absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 0;
  }
  
  #myButton {
    width: 300px;
    height: 200px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
  }
  